.filters {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;

  @media (min-width: 400px) {
    & {
      flex-direction: row;
    }
  }

  .resetButton {
    text-decoration: underline;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
